@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/images/background/paper_texture.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-h-screen: 100vh;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* 가로 스크롤 방지 */
}

/* 모든 요소의 박스 크기 계산 방식 통일 */
* {
  box-sizing: border-box;
}
